---
import type { Page, PaginateFunction } from 'astro'

import NavHead from '@components/nav-header.astro'
import Pagination from '@components/pagination.astro'
import PostList from '@components/post-list.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

interface Props {
  page: Page
}

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
  const allPosts = await getAllPosts()

  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post) => post.data.tags)
        .flat()
        .filter((tag): tag is string => Boolean(tag)),
    ),
  ]

  return uniqueTags.flatMap((tag) => {
    const filteredPosts = allPosts
      .filter((post) => post.data.tags && post.data.tags.includes(tag))
      .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    return paginate(filteredPosts, { params: { tags: tag }, pageSize: 6 })
  })
}

const { tags } = Astro.params
const { page } = Astro.props
---

<BaseLayout title={tags ?? 'tag'} description="blog tag">
  <NavHead />
  <main class="pl-6">
    <section class="py-5 text-2xl font-bold first-letter:uppercase">{tags}</section>
    <section>
      <PostList posts={page.data} />
    </section>
    <section class="mt-5 flex items-center gap-4">
      <Pagination page={page} />
    </section>
  </main>
</BaseLayout>
