---
import { config } from '@constant'
import type { Page, PaginateFunction } from 'astro'

import NavHead from '@components/nav-header.astro'
import Pagination from '@components/pagination.astro'
import PostList from '@components/post-list.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

interface Props {
  page: Page
}

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
  const allPosts = await getAllPosts()

  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post) => post.data.tags)
        .flat()
        .filter((tag): tag is string => Boolean(tag)),
    ),
  ]

  return uniqueTags.flatMap((tag) => {
    const filteredPosts = allPosts
      .filter((post) => post.data.tags && post.data.tags.includes(tag))
      .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    return paginate(filteredPosts, { params: { tags: tag }, pageSize: config.postsPerPage })
  })
}

const { tags } = Astro.params
const { page } = Astro.props
---

<BaseLayout title={tags ?? 'tag'} description={`浏览标签「${tags}」下的所有文章`}>
  <NavHead />
  <main>
    <section class="flex px-6 py-5 text-2xl font-bold first-letter:uppercase max-[768px]:justify-center">
      {tags}
    </section>
    <section class="px-6">
      <PostList posts={page.data} />
    </section>
    <section class="flex items-center gap-4 px-6 py-5 max-[768px]:justify-center">
      <Pagination page={page} />
    </section>
  </main>
</BaseLayout>
