---
import { links } from '@constant'

import ThemeButton from '@components/basic/theme-button.astro'

const isCurrentPage = (url: string) => {
  const pathname = Astro.url.pathname
  if (url === pathname) return true
  if (pathname.includes(url) && url !== '/') return true
  return false
}
---

<nav>
  <ul
    class="relative flex h-full w-full items-center justify-between rounded-full bg-white p-5 text-primary shadow-md dark:bg-[#0000004d]"
  >
    {
      links.map((link) => (
        <li class:list={[{ 'text-gray-400 grayscale-[0.5]': isCurrentPage(link.url) }]}>
          <a href={link.url}>{link.title}</a>
        </li>
      ))
    }
    <li class="flex items-center"><ThemeButton /></li>
  </ul>
</nav>

<style lang="less"></style>
