<div class="nav-area fixed bottom-10 right-5 z-50 hidden">
  <div class="fast-nav"></div>
  <div class="menu-icon mt-2 flex cursor-pointer flex-col items-end gap-1">
    <span class="bg-primary-dark dark:bg-primary-light inline-block h-[1.5px] w-[20px]"></span>
    <span class="bg-primary-dark dark:bg-primary-light inline-block h-[1.5px] w-[20px]"></span>
    <span class="bg-primary-dark dark:bg-primary-light inline-block h-[1.5px] w-[20px]"></span>
  </div>
</div>
<svg
  class="nav-icon fill-primary-dark dark:fill-primary-light fixed bottom-10 right-5 hidden rotate-180 cursor-pointer transition-all"
  viewBox="0 0 1024 1024"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  p-id="9313"
  width="45"
  height="45"
>
  <path
    d="M535.12 442.432v210.016a16 16 0 0 1-16 16h-16.16a16 16 0 0 1-16-16V440.208l-32.88 32.864a16 16 0 0 1-11.312 4.688h-28.304a14.464 14.464 0 0 1-10.24-24.688l97.824-97.808a11.136 11.136 0 0 1 15.744 0l97.808 97.808a14.464 14.464 0 0 1-10.24 24.688h-28.288a16 16 0 0 1-11.312-4.688l-30.64-30.64zM512 800c159.056 0 288-128.944 288-288s-128.944-288-288-288-288 128.944-288 288 128.944 288 288 288z m0 48c-185.568 0-336-150.432-336-336s150.432-336 336-336 336 150.432 336 336-150.432 336-336 336z"
    p-id="9314"></path>
</svg>

<script>
  const pageScroll = () => {
    const anchorLinks = document.querySelectorAll('.icon-link')
    const tocLinks = document.querySelectorAll('.fast-nav .toc-link')
    const navIcon = document.querySelector('.nav-icon')

    if (document.documentElement.scrollHeight !== document.documentElement.clientHeight) {
      navIcon?.classList.remove('hidden')
    }

    window.addEventListener('scroll', () => {
      if (tocLinks.length) {
        anchorLinks.forEach((item, index) => {
          const ele = item as HTMLElement
          if (window.scrollY >= ele.offsetTop - 150) {
            tocLinks.forEach((item) => item.classList.remove('text-primary'))
            tocLinks[index].classList.add('text-primary')
          } else {
            tocLinks[index].classList.remove('text-primary')
          }
        })
      }

      if (navIcon) {
        navIcon.classList.remove('hidden')
        if (window.scrollY !== 0) {
          //开始滑动
          navIcon.classList.remove('rotate-180')
          navIcon.classList.add('to-down', 'rotate-0')
        } else {
          //最上面
          navIcon.classList.add('rotate-180')
          navIcon.classList.remove('to-down', 'rotate-0')
        }
      }
    })
  }

  const init = () => {
    const navIcon = document.querySelector('.nav-icon')

    const navArea = document.querySelector('.nav-area')
    const fastNav = document.querySelector('.fast-nav')
    const tocNav = document.querySelector('.toc')
    const menuIcon = document.querySelector('.menu-icon')

    if (fastNav && tocNav) {
      navArea?.classList.remove('hidden')
      fastNav.classList.add('hidden')
      fastNav.append(tocNav.cloneNode(true))
    }

    menuIcon?.addEventListener('click', () => {
      menuIcon.classList.toggle('menu-close')
      fastNav?.classList.toggle('hidden')
    })

    navIcon?.addEventListener('click', () => {
      // 页面总高
      const totalH = document.body.scrollHeight || document.documentElement.scrollHeight
      if (navIcon.classList.contains('to-down')) {
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        })
      } else {
        window.scrollTo({
          top: totalH,
          behavior: 'smooth',
        })
      }
    })
    pageScroll()
  }

  document.addEventListener('astro:page-load', init)
</script>
<style lang="less" is:global>
  .nav-icon {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  .nav-area {
    @media screen and (max-width: 768px) {
      display: none;
    }

    .toc {
      width: 100%;
      padding: 0 1rem;
      padding-top: 0.5rem;
      border-radius: 5px;
      max-height: 40vh;
      overflow-y: auto;
      &::-webkit-scrollbar-thumb {
        border-width: 6px;
      }

      .toc-level {
        margin-bottom: 0;
        .toc-item:last-child {
          margin-bottom: 0;
        }
      }
      ol {
        list-style: decimal;
        padding-left: 1.25rem;
        margin: 0.5rem 0;
      }
      li {
        margin: 0.5rem 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .menu-close {
    span:first-child {
      transform: rotate(45deg);
      transform-origin: 50%;
      margin-top: 10px;
      transition: transform 0.1s ease-in;
    }
    span:nth-child(2) {
      display: none;
    }
    span:last-child {
      transform: rotate(-45deg);
      margin-top: -5.5px;
      transform-origin: 50%;
      transition: transform 0.1s ease-in;
    }
  }
</style>
