---
import { getCollection } from 'astro:content'

import BaseHead from '@components/base-head.astro'
import ContentRender from '@components/content-render.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: { slug: post.data.title },
    props: { post },
  }))
}

const { post } = Astro.props
---

<html lang="zh">
  <BaseHead title={post.data.title} description="entry.data.description" />
  <body>
    <main>
      <h1>{post.data.title}</h1>
      <ContentRender post={post} />
    </main>
  </body>
</html>
