---
import type { Page, PaginateFunction } from 'astro'

import NavHead from '@components/nav-header.astro'
import Pagination from '@components/pagination.astro'
import PostList from '@components/post-list.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

interface Props {
  page: Page
}

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
  const blogs = await getAllPosts()

  return paginate(blogs, { pageSize: 12 })
}

const { page } = Astro.props
const title = '归档'
const description = '归档页面-didmax'
---

<BaseLayout title={title} description={description}>
  <NavHead />
  <main class="pl-6">
    <section class="list">
      <PostList posts={page.data} />
    </section>

    <section class="flex items-center gap-4 py-5">
      <Pagination page={page} />
    </section>
  </main>
</BaseLayout>
