---
import { config } from '@constant'
import type { Page, PaginateFunction } from 'astro'

import NavHead from '@components/nav-header.astro'
import Pagination from '@components/pagination.astro'
import PostList from '@components/post-list.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

interface Props {
  page: Page
}

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
  const blogs = await getAllPosts()

  return paginate(blogs, { pageSize: config.postsPerPage })
}

const { page } = Astro.props
const title = '归档'
const description = '按时间顺序浏览所有文章，探索更多精彩内容'
---

<BaseLayout title={title} description={description}>
  <NavHead />
  <main>
    <section class="px-6">
      <PostList posts={page.data} />
    </section>

    <section class="flex items-center gap-4 px-6 py-5 max-[768px]:justify-center">
      <Pagination page={page} />
    </section>
  </main>
</BaseLayout>
