@prettier-scrollbar: {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #475569;
  }

  &::-webkit-scrollbar-corner {
    opacity: 0;
  }
};

@font-face {
  font-family: 'roboto-slab';
  src: url('/fonts/roboto-slab.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 16px;
}

body {
  font-family: roboto-slab, RobotoSlab, SimHei, Songti, serif;
  line-height: 1.7;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  height: 50px;
  line-height: 50px;
}

nav {
  width: 60%;
  margin: auto;
}

main {
  width: 60%;
  margin: auto;
  max-width: 1220px;
  min-height: calc(100vh - 50px);
  padding: 1.2rem 0;

  @media screen and (max-width: 1000px) {
    width: 80%;
  }
  @media screen and (max-width: 900px) {
    width: 95%;
  }
}

pre {
  border-radius: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
}

blockquote {
  border-left: 5px solid black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 10px 10px 10px;
  background-color: #9a9a9a;
}
