@import 'tailwindcss';

@theme {
  --color-primary: #56b6c2;
  --color-primary-dark: #1f1f1f;
  --color-primary-gray: #525252;
  --color-primary-light: #fcfcfcf2;

  --animate-jump: jump 0.8s infinite ease-in-out 2s;

  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }

    12% {
      transform: translate(-3px, -6px);
    }

    25% {
      transform: translate(5px, -4px);
    }

    38% {
      transform: translate(-6px, -5px);
    }

    52% {
      transform: translate(4px, -6px);
    }

    65% {
      transform: translate(-5px, -3px);
    }

    78% {
      transform: translate(6px, -5px);
    }

    90% {
      transform: translate(-4px, -4px);
    }

    100% {
      transform: translate(0, 0);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #475569;
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 0.625rem;

    @media screen and (max-width: 768px) {
      border-width: 6px;
    }
  }

  &::-webkit-scrollbar-corner {
    opacity: 0;
  }
}

html {
  width: 100vw;
  overflow-x: hidden;
  font-size: 16px;

  @media screen and (max-width: 1300px) {
    font-size: 15px;
  }
}

body {
  font-family:
    'Noto Sans',
    'Noto Sans SC',
    Consolas,
    PingFang SC,
    Helvetica Neue,
    Microsoft YaHei,
    sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 24px !important;
}

main,
nav {
  width: 60%;
  margin: auto;
  max-width: 1220px;

  @media screen and (max-width: 1600px) {
    width: 65%;
  }

  @media screen and (max-width: 1100px) {
    width: 85%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

main {
  min-height: calc(100dvh - 100px);
  padding: 0 0.625rem;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 1500px) {
    min-height: calc(100dvh - 120px);
  }
}

@media (any-hover: hover) {
  a:hover {
    color: var(--color-primary);
  }
}