---
import { getCollection } from 'astro:content'

import BaseHead from '@components/base-head.astro'
import type { PostModel } from '@interfaces/post-model'

export async function getStaticPaths() {
  const allPosts = await getCollection('posts')

  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post) => post.data.tags)
        .flat()
        .filter((tag): tag is string => Boolean(tag)),
    ),
  ]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags && post.data.tags.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<html lang="zh">
  <BaseHead title={tag ?? 'tag'} description="blog tag" />
  <main>
    <section>blogs</section>
    <section>
      <ul>
        {posts.map((post: PostModel) => <a href={'/post/' + post.data.title}>{post.data.title}</a>)}
      </ul>
    </section>
  </main>
</html>
