---
import BaseHead from '@components/base-head.astro'
import NavHead from '@components/nav-head.astro'
import type { PostModel } from '@interfaces/post-model'
import { getAllPosts } from '@utils/all-posts'

interface Props {
  posts: PostModel[]
}

export async function getStaticPaths() {
  const allPosts = await getAllPosts()

  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post) => post.data.tags)
        .flat()
        .filter((tag): tag is string => Boolean(tag)),
    ),
  ]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags && post.data.tags.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<html lang="zh">
  <BaseHead title={tag ?? 'tag'} description="blog tag" />
  <NavHead />
  <main>
    <section>{tag}</section>
    <section>
      <ul>
        {
          posts.map((post: PostModel) => (
            <li>
              <a href={'/post/' + post.data.title}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</html>
