---
import NavHead from '@components/nav-header.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

const allPosts = await getAllPosts()

const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter((tag) => tag) as string[]
const tagContent = uniqueTags
  .map((tag) => {
    const tagPost = allPosts.filter((post) => post.data.tags && post.data.tags.includes(tag))

    return {
      tag,
      count: tagPost.length,
    }
  })
  .sort((a, b) => b.count - a.count) // 按使用频率排序

const title = '标签'
const description = '浏览所有文章标签，快速找到感兴趣的话题和内容'
---

<BaseLayout title={title} description={description}>
  <NavHead />
  <main>
    <section class="grid grid-cols-3 gap-5 px-2 pb-5 pt-1 max-[768px]:grid-cols-2 min-[1500px]:grid-cols-4">
      {
        tagContent.map((item) => (
          <a
            href={'/tags/' + item.tag}
            class="group flex justify-between gap-2 rounded-xl bg-gray-200 px-5 py-1 shadow-md dark:bg-[#5252527a]"
          >
            <span class="truncate">{item.tag}</span>
            <span class="text-primary-dark dark:text-primary-light">{item.count}</span>
          </a>
        ))
      }
    </section>
  </main>
</BaseLayout>
