---
import NavHead from '@components/nav-head.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

const allPosts = await getAllPosts()

const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter((tag) => tag) as string[]
const tagContent = uniqueTags.map((tag) => {
  const tagPost = allPosts.filter((post) => post.data.tags && post.data.tags.includes(tag))

  return {
    tag,
    count: tagPost.length,
  }
})
---

<BaseLayout title="tag" description="blog tag">
  <NavHead />
  <main>
    <section class="flex flex-wrap justify-center gap-5 px-2 py-5">
      {
        tagContent.map((item) => (
          <div class="flex justify-between">
            <a href={'/tags/' + item.tag}>{`${item.tag?.slice(0, 1).toUpperCase()}${item.tag?.slice(1)}`}</a>
            <sup class="mt-1 flex h-[14px] w-[14px] items-center justify-center rounded-full border text-[10px]  ">
              {item.count}
            </sup>
          </div>
        ))
      }
    </section>
  </main>
</BaseLayout>
