---
import AvatarImage from '@components/avatar-image.astro'
import NavLink from '@components/nav-link.astro'
import BaseLayout from '@layouts/base-layout.astro'

const title = '404 Not Found'
const description = '抱歉，您访问的页面不存在或已被移动'
---

<BaseLayout title={title} description={description}>
  <main>
    <section class="flex flex-col items-center justify-center">
      <AvatarImage />
    </section>
    <section class="text-primary my-10 flex items-center justify-center gap-10">
      <NavLink />
    </section>
    <section class="flex justify-center py-5 text-4xl">404</section>
  </main>
</BaseLayout>
