---
import BaseHead from '@components/html-head.astro'
import NavHead from '@components/nav-header.astro'
import BaseLayout from '@layouts/base-layout.astro'
---

<BaseLayout>
  <BaseHead title="about" description="who am i" />
  <body>
    <NavHead />
    <main></main>
  </body>
</BaseLayout>
