---
import BaseHead from '@components/base-head.astro'
import NavHead from '@components/nav-head.astro'
---

<html lang="zh">
  <BaseHead title="about" description="who am i" />
  <body>
    <NavHead />
    <main></main>
  </body>
</html>
