---
import { CollectionEntry, getCollection } from 'astro:content'

import NavHead from '@components/nav-head.astro'
import BaseLayout from '@layouts/base-layout.astro'

const posts = await getCollection('posts')

const title = 'Blogs'
const description = 'blog list page'
---

<BaseLayout title={title} description={description}>
  <main>
    <NavHead />
    <ul>
      {
        posts.map((post: any) => (
          <li>
            <a href={'/posts/' + post.data.title}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
