---
import NavHead from '@components/nav-head.astro'
import BaseLayout from '@layouts/base-layout.astro'
---

<BaseLayout title="babyblue" description="my blog">
  <NavHead />
  <main>
    <section></section>
  </main>
</BaseLayout>
