---
import BaseHead from '@components/base-head.astro'
import NavHead from '@components/nav-head.astro'
import { getAllPosts } from '@utils/all-posts'

const allPosts = await getAllPosts()
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter((tag) => tag)
const indexPosts = allPosts.slice(0, 12)
---

<html lang="zh">
  <BaseHead title="babyblue" description="my blog" />
  <body>
    <main>
      <NavHead />
      <section>
        {uniqueTags.map((tag) => <a href={'/tags/' + tag}>{tag}</a>)}
      </section>
      <section>
        {
          indexPosts.map((post) => (
            <p>
              <a href={'/posts/' + post.data.title}>{post.data.title}</a>
            </p>
          ))
        }
        <p></p>
      </section>
    </main>
  </body>
</html>
