---
import BaseHead from '@components/base-head.astro'
import NavHead from '@components/nav-head.astro'
import PostList from '@components/post-list.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

const allPosts = await getAllPosts()

const indexPosts = allPosts.slice(0, 10)
---

<BaseLayout>
  <BaseHead title="babyblue" description="my blog" />
  <NavHead />
  <main>
    <section>
      <PostList posts={indexPosts} />
    </section>
  </main>
</BaseLayout>
