---
import BaseHead from '@components/base-head.astro'
import NavHead from '@components/nav-head.astro'
import PostList from '@components/post-list.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

const allPosts = await getAllPosts()
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter((tag) => tag)
const indexPosts = allPosts.slice(0, 12)
---

<BaseLayout>
  <BaseHead title="babyblue" description="my blog" />
  <body class="dark:bg-black">
    <NavHead />
    <main>
      <section class="mb-5 flex flex-wrap gap-4">
        {
          uniqueTags.map((tag) => (
            <a class=" leading-3" href={'/tags/' + tag}>
              {tag}
            </a>
          ))
        }
      </section>
      <section>
        <PostList posts={indexPosts} />
      </section>
    </main>
  </body>
</BaseLayout>
