---
import BaseHead from '@components/base-head.astro'
import NavHead from '@components/nav-head.astro'
import PostList from '@components/post-list.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

const allPosts = await getAllPosts()
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter((tag) => tag)
const indexPosts = allPosts.slice(0, 10)
---

<BaseLayout>
  <BaseHead title="babyblue" description="my blog" />
  <NavHead />
  <main>
    <section class="mb-5 flex flex-wrap gap-4">
      {
        uniqueTags.map((tag) => (
          <a class=" leading-3" href={'/tag/' + tag}>
            {tag}
          </a>
        ))
      }
    </section>
    <section>
      <PostList posts={indexPosts} />
    </section>
  </main>
</BaseLayout>
