---
import { getCollection } from 'astro:content'

import BaseHead from '@components/base-head.astro'
import NavHead from '@components/nav-head.astro'

const posts = await getCollection('posts', ({ data }) => !data.isDraft)
const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())].filter((tag) => tag)
---

<html lang="zh">
  <BaseHead title="babyblue" description="my blog" />
  <body>
    <main>
      <NavHead />
      <section>
        {uniqueTags.map((tag) => <a href={'/tags/' + tag}>{tag}</a>)}
      </section>
      <section>
        {
          posts.map((post) => (
            <p>
              <a href={'/posts/' + post.data.title}>{post.data.title}</a>
            </p>
          ))
        }
        <p></p>
      </section>
    </main>
  </body>
</html>
