---
import { Image } from 'astro:assets'

import type { PostModel } from '@interfaces/post-model'
import { getFormatDate } from '@utils/date-helper'

import '@styles/prism-coldark-dark.css'

interface Props {
  post: PostModel
  from?: string
}

const { post, from } = Astro.props
const { Content } = await post.render()
---

<article>
  <h2 data-pagefind-ignore class:list={['mt-2', { 'text-center': from && from === 'post' }]}>{post.data.title}</h2>

  <>
    <div data-pagefind-ignore class="my-2 text-right text-xs text-gray-400">
      {
        post.data.tags?.map((tag: string) => (
          <a class="mx-1 inline-block text-xs no-underline" href={'/tags/' + tag}>
            #{tag}
          </a>
        ))
      }
      {getFormatDate(post.data.date)}
    </div>
    {
      post.data.cover && (
        <Image src={post.data.cover} loading="eager" data-pagefind-meta="image[src]" class="mb-4" alt="" />
      )
    }
  </>

  <Content />
</article>

<style lang="less" is:global>
  article {
    pre {
      border-radius: 0.3rem;
      letter-spacing: normal;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    :is(p) code {
      padding: 0 0.4rem;
      margin: 0 0.2rem;
      border-radius: 0.3rem;
      display: inline-flex;
      white-space: nowrap;
      overflow-x: scroll;
      max-width: 100%;
      scrollbar-width: none;
      color: white;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0.75rem 0;
      font-weight: bold;
      &:target {
        padding-top: 100px;
        margin-top: -100px;
        @media screen and (min-width: 1500px) {
          padding-top: 120px;
          margin-top: -120px;
        }
      }
    }

    h1 {
      font-size: 1.4rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
      color: #2e80f2;
    }

    h4 {
      font-size: 1.1rem;
      color: #e5b567;
    }

    h5 {
      font-size: 1rem;
      color: #e83e3e;
    }

    h6 {
      font-size: 1rem;
    }

    p {
      margin: 0.5rem 0;
      a {
        margin: 0 0.1875rem;
      }
    }

    ul {
      list-style: disc;
      padding-left: 1.875rem;
      margin: 0.5rem 0;
    }

    ol {
      list-style: decimal;
      padding-left: 2.25rem;
      margin: 0.5rem 0;
    }

    li {
      margin: 0.5rem 0;
      & > ul {
        padding-left: 1.25rem;
      }

      & > p {
        display: inline;
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    hr {
      border-top: 3px dotted #282c34;
      margin: 1rem auto;
      width: 30%;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }

    details {
      summary {
        cursor: pointer;
        margin: 0.625rem 0;
      }
      .toc {
        width: 100%;
        padding: 1rem 0 1rem 3rem;
        background-color: #dddddd;
        border-radius: 5px;
      }
      ol {
        list-style: circle;
      }
      li {
        margin: 1rem 0;
      }
    }

    blockquote {
      border-left: 0.3rem solid;
      border-radius: 0.3rem;
      border-left-color: #1f1f1f;
      background-color: #dddddd;
      margin: 0.625rem 0 !important;
      padding: 0.625rem 0.625rem 0.625rem 0.625rem;
      p {
        margin: 0.3125rem 0;
      }
    }

    :is(p) code {
      background-color: #374151;
    }
  }

  .dark {
    :is(p) code {
      background-color: #282c34;
    }

    blockquote {
      border-left-color: #fcfcfc;
      background-color: #2a2a2a;
    }
    .toc {
      background-color: #2a2a2a;
    }
  }
</style>
