---
import { Image } from 'astro:assets'

import type { PostModel } from '@interfaces/post-model'
import { getFormatDate } from '@utils/date-helper'

interface Props {
  post: PostModel
  from?: string
}

const { post, from } = Astro.props
const { Content } = await post.render()
---

<article>
  <h5 class:list={['mt-2', { 'text-center': from && from === 'post' }]}>{post.data.title}</h5>

  {
    from && from === 'post' && (
      <>
        <div class="my-2 text-right text-xs text-gray-400">
          {post.data.tags?.map((tag: string) => (
            <a class="mx-1 text-xs no-underline" href={'/tags/' + tag}>
              #{tag}
            </a>
          ))}
          {getFormatDate(post.data.date)}
        </div>
        {post.data.cover && <Image src={post.data.cover} loading="eager" alt="" />}
      </>
    )
  }
  <Content />
</article>
