---
import type { PostEntry } from '@interfaces/post-model'

const { post } = Astro.props as PostEntry
const { Content } = await post.render()
---

<article class="my-10">
  <h3>{post.data.title}</h3>
  {post.data.isExcerpt ? <Fragment set:html={post.body} /> : <Content />}
</article>
