---
import ThemeButton from '@components/theme-button.astro'

const links = [
  { url: '/', title: '首页' },
  { url: '/notes', title: '笔记' },
  { url: '/tags', title: '标签' },
  { url: '/archive', title: '归档' },
]

const isCurrentPage = (url: string) => {
  const pathname = Astro.url.pathname
  if (url === pathname) return true
  if (pathname.includes(url) && url !== '/') return true
  return false
}
---

<header class="sticky top-0 z-10 bg-primary-white bg-opacity-95 text-primary dark:bg-primary-dark dark:bg-opacity-95">
  <nav class="relative h-[90px]">
    <ul class="flex h-full items-center justify-start gap-10">
      {
        links.map((link) => (
          <li class:list={[{ 'text-gray-400': isCurrentPage(link.url) }]}>
            <a href={link.url}>{link.title}</a>
          </li>
        ))
      }
    </ul>
    <div class="absolute right-0 top-[50%] -translate-y-[50%]">
      <ThemeButton />
    </div>
  </nav>
</header>
