---
interface NavLink {
  title: string
  url: string
}

const navLinks: NavLink[] = [
  { title: 'Index', url: '/' },
  { title: 'Notes', url: '/note' },
  { title: 'Archive', url: '/archive' },
  { title: 'About', url: '/about' },
]
---

<header class="text-primary sticky top-0 bg-slate-600 py-5">
  <nav>
    <ul class="flex justify-center gap-10">
      {
        navLinks.map((nav: NavLink) => (
          <li class:list={[{ 'text-gray-500': nav.url === Astro.url.pathname }]}>
            <a href={nav.url}>{nav.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
