---
interface NavLink {
  title: string
  url: string
}

const navLinks: NavLink[] = [
  { title: 'Index', url: '/' },
  { title: 'Notes', url: '/note' },
  { title: 'Archive', url: '/archive' },
  { title: 'About', url: '/about' },
]
---

<header class="sticky top-0 bg-slate-600 text-primary">
  <nav>
    <ul class="flex justify-center gap-10">
      {
        navLinks.map((nav: NavLink) => (
          <li class:list={[{ 'text-gray-500': nav.url === Astro.url.pathname }]}>
            <a href={nav.url}>{nav.title}</a>
          </li>
        ))
      }
      <div class="theme-icon cursor-pointer"></div>
    </ul>
  </nav>
</header>

<script>
  const themeIcon = document.querySelector('.theme-icon')

  if (themeIcon) {
    const currentTheme = localStorage.theme ?? 'light'
    themeIcon.textContent = currentTheme === 'light' ? 'dark' : 'light'
    themeIcon.addEventListener('click', () => {
      const currentTheme = localStorage.theme ?? 'light'
      themeIcon.textContent = currentTheme === 'light' ? 'dark' : 'light'
      localStorage.theme = currentTheme === 'light' ? 'dark' : 'light'
    })
  }
</script>
