---
import type { Page } from 'astro'

interface Props {
  page: Page
}

const { page } = Astro.props
---

{page.url.prev ? <a href={page.url.prev}>Prev</a> : null}
{!page.url.prev && !page.url.next ? null : page.currentPage}
{page.url.next ? <a href={page.url.next}>Next</a> : null}
