---
import type { PostMatter, PostModel } from '@interfaces/post-model'
import { getMD, getYM } from '@utils/date-helper'

interface Props {
  posts: PostModel[]
}

const { posts } = Astro.props

const postObj: Record<string, PostMatter[]> = {}

posts.map((post: PostModel) => {
  const year = getYM(post.data.date)
  postObj[year] ? '' : (postObj[year] = [])
  postObj[year].push(post.data)
})
---

<ul>
  {
    Object.keys(postObj)
      .sort((a, b) => +b - +a)
      .map((year) => (
        <li>
          <div class="flex items-center gap-2 py-2">
            <span class="inline-block h-2 w-2 rounded-full bg-gray-500" />
            <span class=" font-bold">{year}</span>
          </div>
          {postObj[year].map((post) => (
            <div class="ml-8 flex items-center py-2">
              <div class="w-full pb-2">
                <span class="mr-5 inline-block text-sm">{getMD(post.date)}</span>
                <a href={'/posts/' + post.abbrlink}>{post.title}</a>
              </div>
            </div>
          ))}
        </li>
      ))
  }
</ul>
