---
import { getPostLink } from '@constant'

import type { PostModel } from '@interfaces/post-model'
import { formatedYMD } from '@utils/date-helper'

interface Props {
  posts: PostModel[]
}

const { posts } = Astro.props
---

<div>
  <div class="grid grid-cols-2 gap-2 max-[768px]:flex max-[768px]:flex-col">
    {
      posts.map((post) => (
        <div class="flex items-center py-2">
          <div class="flex w-full flex-col max-[768px]:flex-row max-[768px]:items-center">
            <span class="mr-5 inline-block text-sm">{formatedYMD(post.data.date)}</span>
            <a href={getPostLink(post)} class="truncate">
              {post.data.title}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
