---
import type { PostMatter, PostModel } from '@interfaces/post-model'
import { getMD, getYear } from '@utils/date-helper'

interface Props {
  posts: PostModel[]
}

const { posts } = Astro.props

const postObj: Record<string, PostMatter[]> = {}

posts.map((post: PostModel) => {
  const year = getYear(post.data.date)
  postObj[year] ? '' : (postObj[year] = [])
  postObj[year].push(post.data)
})
---

{
  Object.keys(postObj)
    .sort((a, b) => +b - +a)
    .map((year) => (
      <>
        <h1 class="text-lg font-bold">{year}</h1>
        <ul>
          {postObj[year].map((post) => (
            <li>
              <span class="relative inline-block min-w-[80px] pl-3 font-bold">{getMD(post.date)}</span>
              <a href={'/posts/' + post.abbrlink}>{post.title}</a>
            </li>
          ))}
        </ul>
      </>
    ))
}
<style lang="less">
  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    li {
      padding: 5px;
    }
  }

  .day {
    position: relative;
    padding-left: 10px;
    font-weight: bold;
  }
</style>
