---
import NavHeader from '@components/nav-header.astro'
import PagefindSearch from '@components/pagefind-search.astro'
import BaseLayout from '@layouts/base-layout.astro'
---

<BaseLayout title="搜索" description="搜索站内文章，快速找到您需要的内容">
  <NavHeader />
  <main class="flex flex-col justify-between overflow-hidden">
    <PagefindSearch />
  </main>
</BaseLayout>
<style lang="less">
  main {
    height: calc(100dvh - 100px);
    overflow: hidden;
    @media screen and (min-width: 1500px) {
      height: calc(100dvh - 120px);
    }
  }
</style>
