---
import PagefindSearch from '@components/basic/pagefind-search.astro'
import NavHeader from '@components/nav-header.astro'
import BaseLayout from '@layouts/base-layout.astro'
---

<BaseLayout title="search" description="search page">
  <NavHeader />
  <main class="flex flex-col justify-between">
    <PagefindSearch />
  </main>
</BaseLayout>
