<div id="search" transition:persist></div>
<script>
  import { PagefindUI } from '@pagefind/default-ui'

  window.addEventListener('DOMContentLoaded', async (event) => {
    new PagefindUI({ element: '#search', showSubResults: true })
  })
</script>
