---
import BaseHead from '@components/base-head.astro'

const { title, description } = Astro.props.frontmatter || Astro.props
---

<html lang="zh">
  <BaseHead title={title} description={description} />
  <body>
    <slot />
  </body>
</html>
