---
import ReloadPrompt from '@components/basic/reload-prompt.astro'
import BaseHead from '@components/html-head.astro'
import Analytics from '@vercel/analytics/astro' // vercel页面分析插件，可删除

const { title, description, cover } = Astro.props.frontmatter || Astro.props
---

<html lang="zh">
  <BaseHead title={title} description={description} cover={cover ? cover.src : null} />
  <body transition:animate="none" class="bg-primary-light text-primary-dark dark:bg-primary-dark dark:text-white">
    <slot />
    <ReloadPrompt transition:persist />
    <Analytics/>
  </body>
</html>
