---
import ReloadPrompt from '@components/basic/reload-prompt.astro'
import ScrollButton from '@components/basic/scroll-button.astro'
import BaseHead from '@components/html-head.astro'

const { title, description, cover } = Astro.props.frontmatter || Astro.props
---

<html lang="zh">
  <BaseHead title={title} description={description} cover={cover ? cover.src : null} />
  <body class="bg-primary-light text-primary-dark dark:bg-primary-dark dark:text-white">
    <slot />
    <ReloadPrompt transition:persist />
    <ScrollButton />
  </body>
</html>
